doctype html
html
 head


   meta(charset ='utf8' name='viewport' content='user-scalable=no, width=device-width, initial-scale=1' )
   //link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900', rel='stylesheet', type='text/css' media='screen and (min-width:800px)')
   // mobile stylesheet
   script(src='/js/jquery.js')
   link(rel='stylesheet' href='css/jquery.mobile-1.4.5.css' )
   link(rel='stylesheet' href='css/mobilestyle.css')
   script(src='/js/jquery.mobile-1.4.5.js')
   script(src='/js/jquery.mobile-1.4.2.min.js')
   //script(src='//code.jquery.com/jquery-1.11.0.min.js')
   //script(type='text/javascript', src='http://code.jquery.com/jquery-latest.min.js')
   // 최신버전 제이쿼리
   script.

        $('#btn').click(function(){
        });


        //암호 확인
        $(function(){
        $('#pass').keyup(function(){
        $('font[name=check]').text('');
        }); //#pass.keyup
        $('#chpass').keyup(function(){
        if($('#pass').val()!=$('#chpass').val()){
        $('font[name=check]').text('');
        $('font[name=check]').html(" 암호틀림");
        }else{
        $('font[name=check]').text('');
        $('font[name=check]').html(" 암호일치");
        }
        }); //#chpass.keyup


        $('#phonenumber').keyup(function() {
        if (event.which && (event.which > 36 && event.which < 58 ||
        event.which > 95 && event.which <106 ||
        event.which == 8 || event.which == 9)){
        //alert("숫자다");
        }else{
        alert("숫자만 입력해주세요");
        $('#phonenumber').val("");
        $('#phonenumber').focus();
        }
        }); //#phone.keyup
        });
 body
  H1 회원가입

  form(action='/adduser' method='post' data-ajax = 'false')
   p
    input(type='text' name='userid' id='userid' placeholder='userid' required)
    div(id='result')
    button(type='button' id='btn')
     |중복확인
    script.
          $('#btn').click(function(){
          $('#result').html('');
          $.ajax({
          url:'check_id',
          dataType:'json',
          type:'POST',
          data:{'userid': $('#userid').val()},
          success:function(result) {  //ajax 성공시 result에 값이 들어온다.
          if(result['result']==true){
          $('#result').html(result['userid']);
          }
          }
          });
          });
   p
    input(type='password' name='pass' id='pass' placeholder='password' required)
   p
    input(type='password' name='chpass' id='chpass' placeholder='passwordcheck' required)
    font(name='check' size='2' color='red')
   p
    input(type='text' name='name' placeholder='name' required)
   p
     input(type="radio" name="classify" id='authority_1' value='선' required)
     label(for='authority_1')
      |선생님
     input(type="radio" name="classify" id='authority_2' value='학' required)
     label(for='authority_2')
      |학생&학부모
   p
    input(type="radio" name="gender" id='gender_man' value='남' required)
    label(for='gender_man')
     |남자
    input(type="radio" name="gender" id='gender_woman' value='여' required)
    label(for='gender_woman')
     |여자
   p
    |생년월일
    input(type='date' name='birthday' value='' required)
   p
    input(type='text' name='phonenumber' placeholder='phonenumber' id='phonenumber' required)
   p
    input(type='text' name='email' placeholder='이메일' required)
   p
    input(type='text' name='address' placeholder='address' required)

   p
    input(type='submit' value='확인')
