doctype html
html
 head
   meta(charset ='utf8' name='viewport', content='user-scalable=no, width=device-width, initial-scale=1' )
   // PC stylesheet
   //link(rel='stylesheet', href='css/style.css' media='screen and (min-width:700px)')

   // mobile stylesheet
   script(src='/js/jquery.js')
   link(rel='stylesheet' href='css/mobilestyle.css')
   link(rel='stylesheet' href='css/jquery.mobile-1.4.5.css' )
   script(src='/js/jquery.mobile-1.4.5.js')
   script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
   


 body
   #page(data-role='page')
     div(data-role='header', data-position='fixed', data-fullscreen='false')
      h1 HOME

     div(data-role='content' )
      div(class ='mainpage_content')
         img(src='images/mainpage.png', data-caption='메인페이지', style='max-width:100%; width:100vw;')
        if session
          div(class ='mainpage_content')
           p
            a(href='/research' class='ui-btn') 시작하기
            h2=session
             | 님께서 로그인 하셨습니다.
            p
             if(session == "bono915")

              a(href='/management/user') management
            br
            a(href='/logout') logout

        else
          div(class ='mainpage_content').login
           p
            a(href='/login') login
