doctype html
html(lang='en')
  head
    meta(charset ='utf8' name='viewport' content='user-scalable=no, width=device-width, initial-scale=1' )
    //link(href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700|Lato:400,100,300,700,900', rel='stylesheet', type='text/css' media='screen and (min-width:700px)')

    // PC stylesheet
    //link(rel='stylesheet', href='css/style.css' media='screen and (min-width:700px)')

    // mobile stylesheet
    script(src='/js/jquery.js')
    link(rel='stylesheet' href='css/jquery.mobile-1.4.5.css')
    link(rel='stylesheet' href='css/mobilestyle.css')
    script(src='/js/jquery.mobile-1.4.5.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')

  body
     div(data-role='header', data-position='fixed', data-fullscreen='false')
       a(href='/', data-rel='back', data-icon='back') Back
       a(href='/', data-icon='home', data-iconpos='notext') 홈
       h1 로그인 페이지




     .container
      .top
        h1#title.hidden
          span#logo

      .login-box.animated.fadeInUp
        .box-header
          h2 Log In
        if(inconsistency=='inconsistency')
          script.
           alert('아이디와 비밀번호가 일치하지 않습니다..');
        form(action='/login' method='post')
          label(for='username') Username
          br
          input(type='text' name='userid' placeholder='userid')
          br
          label(for='password') Password
          br
          input(type='password' name='pass' placeholder='password')
          br
          input(type='submit' value='Sign In')
        br
        a(href='/adduser') 회원가입
        br
        a(href='#')
          p.small Forgot your password?


  script.
    $(document).ready(function () {
    $('#logo').addClass('animated fadeInDown');
    $("input:text:visible:first").focus();
    });
    $('#username').focus(function() {
    $('label[for="username"]').addClass('selected');
    });
    $('#username').blur(function() {
    $('label[for="username"]').removeClass('selected');
    });
    $('#password').focus(function() {
    $('label[for="password"]').addClass('selected');
    });
    $('#password').blur(function() {
    $('label[for="password"]').removeClass('selected');
    });
