doctype html
html
 head
  meta(charset ='utf-8' name='viewport' content='user-scalable=no, width=device-width, initial-scale=1' )
  // mobile stylesheet
  link(rel = 'stylesheet' href='css/mobilestyle.css' media='screen and (max-width:699px)')
  link(rel = 'stylesheet' href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css' media='screen and (max-width:699px)')
  script(src='http://code.jquery.com/jquery-1.9.1.min.js')
  script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')

 body
        //img(src="http://postfiles2.naver.net/MjAxNjEyMjdfOTQg/MDAxNDgyNzk4ODIxNzY1.cFwSccBW4lcCRI9xLPXB6KENa15c93rA5Qr4FtiRyyAg.EN7DEG7Mfr4M4oJgRT_2GdLOVtUXsNClIZ2zhLmOEykg.JPEG.tekkon/%EA%B9%8C%EC%B9%98.jpg?type=w3")
        img(src="nj/uploads/1123.png")
        //img(src='/test.png', width='200', height='200')
          // navbar 끝
        // footer 끝
